name: Self Hosted Runner Test

on:
  push:
    branches: [ "main" ]

jobs:
  test-runner:
    runs-on: self-hosted

    steps:
      - name: Print runner info
        run: |
          echo "Runner name: $RUNNER_NAME"
          echo "Runner OS: $RUNNER_OS"
          echo "Hostname:"
          hostname
          whoami

      - name: Check Node
        run: |
          export NVM_DIR="$HOME/.nvm"
          [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
          node -v
          npm -v
